<%= render 'layouts/flash_messages' %>
<div class="row z-depth-1 start-card">
  <div class="admin-question-title-wrap mb-1">
    <p class="bold admin-title">問題作成</p>
    <%= link_to "問題一覧", questions_path, class: 'waves-effect waves-light btn' %>
  </div>
  <div class="col s12">
    <%= form_with(url:questions_predict_path) do |f| %>
       <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <%= f.file_field(:upload_file, accept: "image/jpeg,image/gif,image/png") %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <button class="btn">画像から予測</button>
    <% end %>
    
    <% if @labels %>
      <div class="admin-question-predict">
        <%#= @labels %>
        <% @labels.each do |label| %>
          <button class="btn" onclick="document.getElementById('question_choice_text').value = event.target.innerText">
            <%= label %>
          </button>
        <% end %>
      </div>
      <%= form_with(url: questions_path, scope: :question) do |f| %>
        <div>
          <%= f.label :正解選択肢 %>
          <%= f.text_field :choice_text %>
        </div>
        <div>
          <%= f.submit "作成", class: 'btn' %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


