<%= render 'layouts/flash_messages' %>

<% if logged_in? %>
  <div class="row z-depth-1 start-card">
    <p class="bold admin-title">管理者メニュー</p>
    <div class="col s12 m8 l6 offset-m2 offset-l3">
      <%= link_to "問題の編集", questions_path, class: "waves-effect waves-light btn-large full mb-1"%>
      <%= link_to "選択肢の編集", choices_path,  class: "waves-effect waves-light btn-large full mb-1" %>
      <%= link_to "ログアウト", logout_path,
                             data: { "turbo-method": :delete },
                             class: "waves-effect waves-light btn-large full mb-1" %>
    </div>
  </div>
<% end %>
<div class="row z-depth-1 start-card">
  <p class="bold start-title">ゲームを始める</p>
  <%= form_with(model: @game, class: "col s12 m6 l4 offset-m3 offset-l4") do |f| %>
    <div class="mb-0">
      <%= f.label 'ニックネーム' %>
      <% if @game.name %>
        <%= f.text_field :name, placeholder: @game.name %>
      <% else %>
        <%= f.text_field :name %>
      <% end %>
    </div>
    <div class="center-align mb-1">
      <button type='submit' class="waves-effect waves-light btn-large full">1人用モード</button>
    </div>
  <% end %>
  <div class="col s12 m6 l4 offset-m3 offset-l4">
    <%= form_with(url: matches_path, method: :post, scope: :match, html: {name: "match_form"}) do |f| %>
      <%= f.hidden_field :name, value: @game.name %>
    <% end %>
    <div class="center-align">
      <button id='js-match-btn' class="waves-effect waves-light btn-large full">対戦モード</button>
    </div>
  </div>
</div>
<div class="z-depth-1 rank-card">
  <p class="bold rank-title">ランキング</p>
  <table class="striped">
    <thead>
      <tr>
        <th>順位</th>
        <th>ニックネーム</th>
        <th>正答率</th>
        <th>タイム</th>
        <th>日時</th>
      </tr>
    </thead>
    <tbody>
      <% @games.each do |game| %>
      <tr>
        <td><%= game.rank %></td>
        <td><%= game.name %></td>
        <td><%= game.correct_rate %>%</td>
        <td><%= game.answer_time.floor() %>秒</td>
        <td class="end-at"><%= display_end_at(game.end_at) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
